body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2em auto;
}

#taskList {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.task {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.due-date, .due-time {
    color: #888;
}

#taskForm {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
}

input, button {
    margin-bottom: 1em;
}


/* For styling for the Pomodoro section */
#pomodoroSection {
    margin-top: 1em;
}

#pomodoroDuration {
    width: 3em;
}